* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  color: {{colors.inverse_surface.default.hex}}
}

.modules-left {
  padding-left: 10px;
}

.modules-right {
  padding-right: 10px;
}

window#waybar {
  background-color: rgba({{colors.scrim.default.red}}, {{colors.scrim.default.green}}, {{colors.scrim.default.blue}}, 0.7);
  color: {{colors.on_background.default.hex}};
  border-radius: 0px 0px 10px 10px;
}

#workspaces button {
  padding: 0 6px;
  margin: 3px;
  border-radius: 6px;
  color: {{colors.inverse_surface.default.hex}};
}

#workspaces button.active {
  background: {{colors.primary.default.hex}};
  color: {{colors.on_primary.default.hex}};
}

#clock {
  font-weight: bold;
  padding-right: 10px;
}

#battery.good {
  color: #50fa7b;
}

#battery.warning {
  color: #f1fa8c;
}

#battery.critical {
  color: #ff5555;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#battery.verycritical {
  color: #F53C3C;
}

#battery.verycritical:not(.charging) {
  color: #F53C3C;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#battery {
  padding-right: 10px;
}

#network {
  color: #89b4fa;
  padding-right: 10px;
}
#tray {
  padding-right: 10px;
}

#pulseaudio {
  color: #f9e2af;
  padding-right: 10px;
}
